.overlay
{
	position: fixed;
	inset: 0;
	background: color-mix(in srgb, var(--dark) 0%, transparent);
	backdrop-filter: blur(0px);
	animation: openWindow 0.5s forwards;
	pointer-events: all;
	z-index: 1000;
}

@keyframes openWindow
{
	0%
	{
		background: color-mix(in srgb, var(--dark) 0%, transparent);
		backdrop-filter: blur(0px);
	}
	100%
	{
		background: color-mix(in srgb, var(--dark) 75%, transparent);
		backdrop-filter: blur(4px);
	}
}

.container
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: min(768px, 90%);
	height: fit-content;
	padding: 16px;
	border-radius: var(--larger-border-radius);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	gap: 24px;
	background: var(--main-bg-color);
	backdrop-filter: var(--blur-bg);
	border: 1px solid var(--main-border-color);
	box-shadow: var(--main-box-shadow);
	pointer-events: all;
	z-index: 1000;

	& > * { width: 100%; }

	& .headerContainer
	{
		width: 100%;
		height: fit-content;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 16px;
		flex-shrink: 0;

		& .taskHeaderText
		{
			height: fit-content;
			flex-grow: 1;
			text-wrap: pretty;
			overflow: hidden;
			font-size: calc(var(--h5-font-size));
			font-weight: 700;
			margin-top: -8px;
		}
	}

	& .taskTagsContainer
	{
		width: 100%;
		height: fit-content;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 4px;
		flex-shrink: 0;
	}

	& .descriptionText
	{
		width: 100%;
		text-align: left;
		text-wrap: pretty;
		white-space: pre-wrap;
		flex-shrink: 0;
		color: var(--second-fg-color);
		border-radius: var(--smaller-border-radius);
	}
}