.container
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: min(768px, 90%);
	height: fit-content;
	max-height: 80vh;
	overflow: hidden;
	padding: 8px;
	border-radius: var(--larger-border-radius);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	gap: 16px;
	background: var(--main-bg-color);
	backdrop-filter: var(--blur-bg);
	border: 1px solid var(--main-border-color);
	box-shadow: var(--main-box-shadow);
	pointer-events: all;
	z-index: 1000;

	& > *
	{
		width: 100%;
		flex-shrink: 0;
	}

	& .headerContainer
	{
		width: 100%;
		height: fit-content;
		padding: 8px 8px 0;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 8px;

		& .taskHeaderText
		{
			height: fit-content;
			flex-grow: 1;
			font-size: calc(var(--h4-font-size));
			font-weight: 700;
			margin-top: -8px;
		}
	}

	& .taskTagsContainer
	{
		width: 100%;
		height: fit-content;
		padding: 0 8px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 4px;
	}

	& .descriptionText
	{
		width: 100%;
		padding: 0 8px;
		text-align: left;
		color: var(--second-fg-color);
		border-radius: var(--smaller-border-radius);
	}

	& .checklistsContainer
	{
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 4px;
		flex-shrink: 1;
		flex-grow: 1;
	}

	& .newChecklistButton
	{
		width: calc(100% - 16px);
		margin: 0 8px 8px;
	}
}