.kanbanTask
{
	width: 100%;
	height: fit-content;
	padding: 8px;
	border-radius: var(--main-border-radius);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 4px;
	flex-shrink: 0;
	background: color-mix(in srgb, var(--second-bg-color), var(--kanbanObjectColor) 15%);
	pointer-events: all;
	cursor: pointer;

	&:not(:has(input:hover)):not(:has(input:active)):not(:has(button:hover)):not(:has(button:active)):hover
	{ background: color-mix(in srgb, var(--hover-main-bg-color), var(--kanbanObjectColor) 25%); }

	&:not(:has(input:hover)):not(:has(input:active)):not(:has(button:hover)):not(:has(button:active)):active
	{ background: color-mix(in srgb, var(--active-main-bg-color), var(--kanbanObjectColor) 25%); }

	& .taskHeader
	{
		width: 100%;
		height: fit-content;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 8px;
		flex-shrink: 0;

		& > * { flex-shrink: 0; }

		& .taskHeaderText
		{
			min-width: 0;
			height: 100%;
			padding-top: 2px;
			flex-shrink: 1;
			flex-grow: 1;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			pointer-events: none;
			color: color-mix(in srgb, var(--main-fg-color), var(--kanbanObjectColor) 15%);
		}
	}

	& .taskTagsContainer
	{
		width: 100%;
		height: fit-content;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 4px;
		flex-shrink: 0;
	}

	& .checklistsProgressContainer
	{
		width: 100%;
		height: fit-content;
		padding: 4px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 4px;
		flex-shrink: 0;

		& .checklistsProgressTextsContainer
		{
			width: 100%;
			height: fit-content;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: space-between;
			gap: 16px;

			& > *
			{
				font-size: 12px;
				font-weight: 400;
				color: color-mix(in srgb, var(--second-fg-color), var(--kanbanObjectColor) 20%);
			}
		}

		& .checklistsProgressBar
		{
			width: 100%;
			height: 8px;
			background: var(--white-20);
			border-radius: 1000px;
			overflow: hidden;

			& .checklistsProgressBarFill
			{
				position: absolute;
				inset: 0 auto 0 0;
				width: 0%;
				background: color-mix(in srgb, var(--second-fg-color), var(--kanbanObjectColor) 35%);
			}
		}
	}

	&.dragging { backdrop-filter: var(--blur-bg); }
}