.button
{
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	border: none;
	background: transparent;
	width: 200px;
	height: 48px;
	padding: 0 16px;
	border-radius: var(--main-border-radius);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	gap: 8px;
	flex-shrink: 0;
	pointer-events: all;
	font-size: var(--main-font-size);
	cursor: pointer;

	& > svg
	{
		width: 32px;
		height: 32px;
	}

	&.primary
	{
		background: var(--accent);
		color: var(--black-75);
		fill: var(--black-75);
		font-weight: 600;

		&:hover { background: color-mix(in srgb, var(--accent), white 15%); }

		&:active
		{
			background: color-mix(in srgb, var(--accent), black 25%);
			color: var(--black-65);
			fill: var(--black-65);
		}
	}

	&.secondary
	{
		background: var(--main-bg-color);
		color: var(--main-fg-color);
		fill: var(--main-fg-color);
		border: 1px solid var(--main-border-color);

		&:hover
		{
			background: var(--hover-main-bg-color);
			color: var(--hover-main-fg-color);
			fill: var(--hover-main-fg-color);
			border-color: transparent;
		}

		&:active
		{
			background: var(--active-main-bg-color);
			color: var(--active-main-fg-color);
			fill: var(--active-main-fg-color);
			border-color: transparent;
		}
	}

	&.small
	{
		height: 32px;
		font-size: 14px;
		color: var(--main-fg-color);
		fill: var(--main-fg-color);
		border-radius: var(--smaller-border-radius);

		& > svg
		{
			width: 32px;
			height: 32px;
		}

		&:hover
		{
			background: var(--white-10);
			color: var(--hover-main-fg-color);
			fill: var(--hover-main-fg-color);
		}

		&:active
		{
			background: var(--white-5);
			color: var(--active-main-fg-color);
			fill: var(--active-main-fg-color);
			border-color: transparent;
		}
	}

	&.square
	{
		width: auto;
		aspect-ratio: 1;
		padding: 0;
	}

	&:disabled
	{
		background: var(--white-2);
		color: var(--white-25);
		fill: var(--white-25);
		pointer-events: none;
	}
}