.button
{
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	border: none;
	background: transparent;
	width: 200px;
	height: 48px;
	padding: 0 16px;
	border-radius: var(--main-border-radius);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	gap: 8px;
	flex-shrink: 0;
	pointer-events: all;
	font-size: var(--main-font-size);
	font-weight: 500;
	overflow: hidden;
	text-wrap: nowrap;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;

	& > .text
	{
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		pointer-events: none;
		color: inherit;
		font-size: inherit;
		font-weight: inherit;
		text-wrap: inherit;
		text-overflow: inherit;
		white-space: inherit;
		overflow: inherit;
	}

	& > svg
	{
		width: 32px;
		height: 32px;
	}

	&.primary, &.positive, &.negative
	{
		--primary-color: var(--accent);

		background: var(--primary-color);
		color: var(--black-75);
		fill: var(--black-75);
		font-weight: 600;

		&:hover { background: color-mix(in srgb, var(--primary-color), white 15%); }

		&:active
		{
			background: color-mix(in srgb, var(--primary-color), black 25%);
			color: var(--black-65);
			fill: var(--black-65);
		}

		&.positive, &.negative
		{
			color: var(--main-fg-color);
			fill: var(--main-fg-color);

			&:active
			{
				color: var(--active-main-fg-color);
				fill: var(--active-main-fg-color);
			}
		}

		&.positive { --primary-color: var(--positive); }
		&.negative { --primary-color: var(--negative); }
	}

	&.secondary, &.simpleSecondary
	{
		background: var(--main-bg-color);
		color: var(--main-fg-color);
		fill: var(--main-fg-color);
		border: 1px solid var(--main-border-color);

		&.simpleSecondary { background: transparent; }

		&:hover
		{
			background: var(--hover-main-bg-color);
			color: var(--hover-main-fg-color);
			fill: var(--hover-main-fg-color);
			border-color: transparent;
		}

		&:active
		{
			background: var(--active-main-bg-color);
			color: var(--active-main-fg-color);
			fill: var(--active-main-fg-color);
			border-color: transparent;
		}

		&.simpleSecondary { border: none; }
	}

	&.square
	{
		width: auto;
		aspect-ratio: 1;
		padding: 0;
	}

	&.small
	{
		height: 32px;
		font-size: 14px;
		border-radius: var(--smaller-border-radius);
	}

	&.smallSVG
	{
		gap: 4px;

		& > svg
		{
			width: 24px;
			height: 24px;
		}
	}

	&.dimmed:not(.primary):not(.positive):not(.negative) { color: var(--active-main-fg-color); }
	&.dimmed:not(.primary):not(.positive):not(.negative), &.dimmedSVG:not(.primary):not(.positive):not(.negative) { fill: var(--active-main-fg-color); }

	&.leftAligned, &.rightAligned { padding: 0 8px; }

	&.leftAligned
	{
		justify-content: flex-start;
		text-align: left;
	}

	&.centerAligned
	{
		justify-content: center;
		text-align: center;
	}

	&.rightAligned
	{
		justify-content: flex-end;
		text-align: right;
	}

	&:disabled
	{
		background: var(--white-2);
		color: var(--white-25);
		fill: var(--white-25);
		pointer-events: none;
	}
}