.topBar
{
	width: 100%;
	height: 72px;
	padding: 0 16px 0 32px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	flex-shrink: 0;
	background: var(--main-bg-color);
	backdrop-filter: var(--blur-bg);
	border-bottom: 1px solid var(--main-border-color);

	& .leftContainer
	{
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: nowrap;
		gap: 8px;

		& .logoContainer
		{
			display: flex;
			flex-direction: row;
			align-items: center;
			flex-wrap: nowrap;
			gap: 8px;
			pointer-events: all;
			cursor: pointer;

			& .appName { color: color-mix(in srgb, var(--accent) 25%, white 75%); }
		}
	}
}