.topBar
{
	width: 100%;
	height: 48px;
	padding: 0 8px 0 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	gap: 16px;
	flex-shrink: 0;
	background: var(--main-bg-color);
	border-bottom: 1px solid var(--main-border-color);
	pointer-events: all;

	& .leftContainer
	{
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: nowrap;
		gap: 24px;

		& .logoContainer
		{
			display: flex;
			flex-direction: row;
			align-items: center;
			flex-wrap: nowrap;
			gap: 8px;
			pointer-events: all;
			cursor: pointer;

			& .logoTextsContainer
			{
				margin-top: -4px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				flex-wrap: nowrap;
				gap: 2px;

				& .appName
				{
					height: var(--h5-font-size);
					color: var(--colored-fg-color-75);
					font-size: var(--h5-font-size);
					text-wrap: nowrap;
					user-select: none;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
				}

				& .subText
				{
					height: 14px;
					line-height: 14px;
					background: var(--accent);
					padding: 0 6px;
					border-radius: var(--smaller-border-radius);
					color: var(--black-75);
					font-size: var(--smaller-font-size);
					font-weight: 600;
					letter-spacing: 0.25px;
					text-wrap: nowrap;
					user-select: none;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
				}
			}
		}

		& .pageName
		{
			max-width: max(256px, 30vw);
			overflow: hidden;
			text-overflow: ellipsis;
			text-wrap: nowrap;
			flex-shrink: 1;
			flex-grow: 1;
		}
	}
}

.fitContentButton { width: fit-content; }