.container
{
	min-width: 0;
	width: 100%;
	height: 40px;
	border-radius: var(--main-border-radius);

	--fgColor: var(--main-fg-color);
	--fgColorHover: var(--hover-main-fg-color);
	--fgColorActive: var(--active-main-fg-color);

	--bgColor: var(--main-bg-color);
	--bgColorHover: var(--hover-main-bg-color);
	--bgColorActive: var(--active-main-bg-color);

	& .icon
	{
		position: absolute;
		inset: 8px auto 8px 8px;
		width: 40px;
		height: 40px;
		fill: var(--fourth-fg-color);
	}

	& .textBox
	{
		appearance: none;
		-webkit-appearance: none;
		display: block;
		width: 100%;
		height: 100%;
		padding: 8px;
		border-radius: inherit;
		border: none;
		outline: 0px solid transparent;
		resize: none;
		pointer-events: all;
		font-size: inherit;
		font-weight: inherit;
		overflow: clip;

		background: var(--bgColor);
		color: var(--fgColor);
		fill: var(--fgColor);

		&:hover
		{
			background: var(--bgColorHover);
			color: var(--fgColorHover);
			fill: var(--fgColorHover);
		}

		&:active { background: var(--bgColorActive) }

		&:focus
		{
			background: var(--hover-main-bg-color);
			border-color: transparent;
		}

		&::placeholder { color: var(--third-fg-color); }

		&:disabled
		{
			background: transparent;
			color: var(--third-fg-color);
			pointer-events: none;

			&::placeholder { color: var(--fourth-fg-color); }
		}

		&.withIcon { padding-left: 48px; }

		&:invalid
		{
			outline: 4px solid color-mix(in srgb, var(--negative) 75%, transparent);
			background: color-mix(in srgb, var(--negative) 15%, var(--main-bg-color));
			border-color: transparent;

			&:focus { background: color-mix(in srgb, var(--negative) 15%, var(--hover-main-bg-color)); }
		}
	}

	&.multiline
	{
		height: fit-content;

		& .textBox
		{
			height: auto;
			min-height: 40px;
			transition: all 0.2s, height 0s;
			field-sizing: content;
		}
	}

	&.resizable .textBox { resize: vertical; }

	&.secondary, &.outlined, &.ghost
	{
		--fgColor: var(--main-fg-color);
		--fgColorHover: var(--hover-main-fg-color);
		--fgColorActive: var(--active-main-fg-color);

		--bgColor: var(--main-bg-color);
		--bgColorHover: var(--hover-main-bg-color);
		--bgColorActive: var(--active-main-bg-color);
	}

	&.outlined
	{
		--borderBaseColor: var(--main-border-color);

		& .textBox
		{
			border: 1px solid var(--borderBaseColor);

			&:hover, &:active, &:focus { border-color: transparent; }
		}
	}

	&.ghost
	{
		--bgColor: transparent;
		border-color: transparent;
	}
}