.container
{
	min-width: 0;
	width: 100%;
	height: 40px;
	border-radius: var(--main-border-radius);
	color: var(--main-fg-color);

	& .icon
	{
		position: absolute;
		inset: 8px auto 8px 8px;
		width: 40px;
		height: 40px;
		fill: var(--fourth-fg-color);
	}

	& .textBox
	{
		appearance: none;
		-webkit-appearance: none;
		display: block;
		width: 100%;
		height: 100%;
		padding: 8px;
		border-radius: inherit;
		background: var(--main-bg-color);
		border: 1px solid var(--main-border-color);
		outline: 0px solid transparent;
		resize: none;
		pointer-events: all;
		font-size: inherit;
		font-weight: inherit;
		color: inherit;
		overflow: clip;

		&:focus
		{
			background: var(--hover-main-bg-color);
			border: 1px solid transparent;
		}

		&::placeholder { color: var(--third-fg-color); }

		&:disabled
		{
			background: transparent;
			color: var(--third-fg-color);
			pointer-events: none;

			&::placeholder { color: var(--fourth-fg-color); }
		}

		&.withIcon { padding-left: 48px; }

		&:invalid
		{
			outline: 4px solid color-mix(in srgb, var(--negative) 75%, transparent);
			background: color-mix(in srgb, var(--negative) 15%, var(--main-bg-color));
			border: 1px solid transparent;

			&:focus { background: color-mix(in srgb, var(--negative) 15%, var(--hover-main-bg-color)); }
		}
	}

	&.multiline
	{
		height: fit-content;

		& .textBox
		{
			height: auto;
			min-height: 40px;
			transition: all 0.2s, height 0s;
			field-sizing: content;
		}
	}

	&.resizable .textBox { resize: vertical; }

	&.ghost .textBox:not(:focus):not(:hover):not(:active)
	{
		background: transparent;
		border-color: transparent;
	}
}