.container
{
	width: 100%;
	height: 56px;

	& .icon
	{
		position: absolute;
		inset: 8px auto 8px 8px;
		width: 40px;
		height: 40px;
		fill: var(--white-35);
	}

	& .textBox
	{
		appearance: none;
		-webkit-appearance: none;
		outline: none;
		width: 100%;
		height: 100%;
		padding: 8px 16px;
		border-radius: 20px;
		background: var(--white-5);
		border: 1px solid var(--white-0);
		color: var(--white-90);
		pointer-events: all;

		&:focus { background: var(--white-10); }
		&::placeholder { color: var(--white-50); }

		&:disabled
		{
			background: transparent;
			border: 1px solid var(--white-10);
			color: var(--white-50);
			pointer-events: none;

			&::placeholder { color: var(--white-35); }
		}

		&.withIcon { padding-left: 48px; }
	}
}