.kanbanChecklist
{
	width: 100%;
	height: fit-content;
	padding: 24px 8px 8px 16px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 8px;
	flex-shrink: 0;
	background: var(--main-bg-color);
	border-radius: var(--main-border-radius);
	pointer-events: all;

	& .dragHandle
	{
		position: absolute;
		inset: 0 0 auto;
		height: 16px;
		border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;
		background: var(--main-bg-color);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		cursor: grab;
		pointer-events: all;

		& svg
		{
			height: 32px;
			fill: var(--second-fg-color);
			flex-shrink: 0;
			opacity: 0;
		}
	}

	&:hover .dragHandle
	{
		background: var(--hover-main-bg-color);

		& svg { opacity: 1; }
	}

	& .checklistHeader
	{
		width: 100%;
		height: fit-content;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 8px;
		flex-shrink: 0;
		margin-bottom: 8px;

		& .checklistHeaderTexts
		{
			min-width: 0;
			height: 100%;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			flex-shrink: 1;
			flex-grow: 1;

			& .checklistHeaderText
			{
				height: fit-content;
				margin-left: -8px;
				font-size: calc(var(--h5-font-size));
				font-weight: 700;
				margin-top: -4px;
				border-radius: var(--smaller-border-radius);
				flex-shrink: 1;
				flex-grow: 1;
			}

			& .checklistItemsCountText
			{
				color: var(--third-fg-color);
				font-size: var(--smaller-font-size);
			}
		}
	}

	& .checklistItemsContainer
	{
		width: 100%;
		height: fit-content;
		padding-left: 8px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 8px;
		flex-shrink: 0;
		border-left: 1px solid var(--main-border-color);
	}

	& > button { width: 100%; }
	&.dragging { backdrop-filter: var(--blur-bg); }
}