body
{
	overflow: hidden auto;
	pointer-events: all;
}

.settingsPageContainer
{
	width: min(400px, 90%);
	flex-grow: 1;
	display: flex;
	padding: 128px 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	gap: 32px;

	& .settingsContentContainer
	{
		width: min(768px, 80vw);
		height: fit-content;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 32px;

		& > * { width: 100%; }

		& p, & li
		{
			color: var(--second-fg-color);
			white-space: pre-wrap;
			pointer-events: all;
			user-select: text;
		}

		& .smallGapColumnContainer
		{
			width: 100%;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			gap: 8px;

			& > * { width: 100%; }
		}

		& .backButton { width: fit-content; }
	}
}