.overlay
{
	position: fixed;
	inset: 0;
	background: color-mix(in srgb, var(--dark) 0%, transparent);
	backdrop-filter: blur(0px);
	pointer-events: all;
	z-index: 1000;

	&:not(.transparent) { animation: showOverlay 0.5s forwards; }
}

@keyframes showOverlay
{
	0%
	{
		background: color-mix(in srgb, var(--dark) 0%, transparent);
		backdrop-filter: blur(0px);
	}
	100%
	{
		background: color-mix(in srgb, var(--dark) 75%, transparent);
		backdrop-filter: blur(4px);
	}
}