.kanbanChecklistItem
{
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 8px;
	flex-shrink: 0;
	pointer-events: all;

	& .checklistItemHeaderText
	{
		height: 100%;
		margin-top: -8px;
		flex-grow: 1;
		text-wrap: wrap;
		line-break: anywhere;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		pointer-events: none;
		border-radius: var(--smaller-border-radius);
	}

	& .deleteButton
	{
		margin-top: -4px;
		opacity: 0;
	}

	&:hover .deleteButton { opacity: 1; }
}