.kanbanChecklistItem
{
	--dragHandleWidth: 24px;

	width: calc(100% + var(--dragHandleWidth));
	height: fit-content;
	transform: translateX(calc(var(--dragHandleWidth) * -1));
	padding-left: calc(var(--dragHandleWidth));
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 8px;
	flex-shrink: 0;
	pointer-events: all;

	& .dragHandle
	{
		position: absolute;
		top: 0;
		left: 0;
		width: var(--dragHandleWidth);
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-shrink: 0;
		cursor: grab;
		pointer-events: all;
		opacity: 0;

		& svg
		{
			width: 32px;
			height: 32px;
			transform: rotateZ(90deg);
			margin-top: calc((32px - var(--dragHandleWidth)) * -0.5);
			fill: var(--third-fg-color);
			flex-shrink: 0;
		}
	}

	& .checklistItemHeaderText
	{
		height: 100%;
		margin-top: -8px;
		flex-grow: 1;
		text-wrap: wrap;
		line-break: anywhere;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		pointer-events: none;
		border-radius: var(--smaller-border-radius);
	}

	& .deleteButton
	{
		margin-top: -4px;
		opacity: 0;
	}

	&:hover .deleteButton, &:hover .dragHandle { opacity: 1; }
	&.completed:not(:hover):not(:has(input[type="text"]:focus)):not(:has(textarea:focus)) { opacity: 0.5; }
}