@font-face
{
	font-family: "Google Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('./assets/fonts/GoogleSans-Regular.woff2') format('woff2');
}

@font-face
{
	font-family: "Google Sans";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('./assets/fonts/GoogleSans-RegularItalic.woff2') format('woff2');
}

@font-face
{
	font-family: "Google Sans";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('./assets/fonts/GoogleSans-Medium.woff2') format('woff2');
}

@font-face
{
	font-family: "Google Sans";
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url('./assets/fonts/GoogleSans-MediumItalic.woff2') format('woff2');
}

@font-face
{
	font-family: "Google Sans";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('./assets/fonts/GoogleSans-Semibold.woff2') format('woff2');
}

@font-face
{
	font-family: "Google Sans";
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url('./assets/fonts/GoogleSans-SemiboldItalic.woff2') format('woff2');
}

@font-face
{
	font-family: "Google Sans";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('./assets/fonts/GoogleSans-Bold.woff2') format('woff2');
}

@font-face
{
	font-family: "Google Sans";
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('./assets/fonts/GoogleSans-BoldItalic.woff2') format('woff2');
}

:root
{
	--accent: #D966FF;
	--dark: #0A0A0B;

	--positive: #20B020;
	--positive-light: #69E669;

	--negative: #CC2626;
	--negative-light: #FF6666;

	--white-0: hsl(from white h s l / 0);
	--white-2: hsl(from white h s l / 0.02);
	--white-5: hsl(from white h s l / 0.05);
	--white-10: hsl(from white h s l / 0.1);
	--white-15: hsl(from white h s l / 0.15);
	--white-20: hsl(from white h s l / 0.20);
	--white-25: hsl(from white h s l / 0.25);
	--white-30: hsl(from white h s l / 0.30);
	--white-35: hsl(from white h s l / 0.35);
	--white-40: hsl(from white h s l / 0.40);
	--white-45: hsl(from white h s l / 0.45);
	--white-50: hsl(from white h s l / 0.50);
	--white-55: hsl(from white h s l / 0.55);
	--white-60: hsl(from white h s l / 0.60);
	--white-65: hsl(from white h s l / 0.65);
	--white-70: hsl(from white h s l / 0.70);
	--white-75: hsl(from white h s l / 0.75);
	--white-80: hsl(from white h s l / 0.80);
	--white-85: hsl(from white h s l / 0.85);
	--white-90: hsl(from white h s l / 0.90);
	--white-95: hsl(from white h s l / 0.95);
	--white-100: hsl(from white h s l / 1);

	--black-0: hsl(from black h s l / 0);
	--black-2: hsl(from black h s l / 0.02);
	--black-5: hsl(from black h s l / 0.05);
	--black-10: hsl(from black h s l / 0.1);
	--black-15: hsl(from black h s l / 0.15);
	--black-20: hsl(from black h s l / 0.20);
	--black-25: hsl(from black h s l / 0.25);
	--black-30: hsl(from black h s l / 0.30);
	--black-35: hsl(from black h s l / 0.35);
	--black-40: hsl(from black h s l / 0.40);
	--black-45: hsl(from black h s l / 0.45);
	--black-50: hsl(from black h s l / 0.50);
	--black-55: hsl(from black h s l / 0.55);
	--black-60: hsl(from black h s l / 0.60);
	--black-65: hsl(from black h s l / 0.65);
	--black-70: hsl(from black h s l / 0.70);
	--black-75: hsl(from black h s l / 0.75);
	--black-80: hsl(from black h s l / 0.80);
	--black-85: hsl(from black h s l / 0.85);
	--black-90: hsl(from black h s l / 0.90);
	--black-95: hsl(from black h s l / 0.95);
	--black-100: hsl(from black h s l / 1);

	--main-fg-color: var(--white-90);
	--hover-main-fg-color: var(--white-90);
	--active-main-fg-color: var(--white-50);

	--second-fg-color: var(--white-75);
	--third-fg-color: var(--white-50);
	--fourth-fg-color: var(--white-25);

	--colored-fg-color-75: color-mix(in srgb, var(--accent), white 75%);

	--main-bg-color: var(--white-5);
	--hover-main-bg-color: var(--white-15);
	--active-main-bg-color: var(--white-5);

	--second-bg-color: var(--white-2);

	--blur-bg: blur(50px);

	--main-box-shadow: 0 8px 32px 0 var(--black-35);

	--main-border-color: var(--white-10);

	--larger-border-radius: 24px;
	--main-border-radius: 16px;
	--smaller-border-radius: 8px;

	--larger-font-size: 20px;
	--main-font-size: 16px;
	--smaller-font-size: 12px;

	--h1-font-size: calc(var(--main-font-size) + 32px);	// 48
	--h2-font-size: calc(var(--main-font-size) + 24px);	// 40
	--h3-font-size: calc(var(--main-font-size) + 16px);	// 32
	--h4-font-size: calc(var(--main-font-size) + 8px);		// 24
	--h5-font-size: calc(var(--main-font-size) + 4px);		// 20
	--h6-font-size: var(--main-font-size);						// 16
}

*, *::before, *::after
{
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	pointer-events: none;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;

	font-family: "Google Sans", system-ui, -apple-system, 'Segoe UI', sans-serif;
	font-size: var(--main-font-size);
	font-weight: 400;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	position: relative;
	margin: 0;
	padding: 0;

	color: var(--white-90);

	interpolate-size: allow-keywords;
	-webkit-tap-highlight-color: transparent;

	overscroll-behavior-y: none;
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: var(--white-25) transparent;
}

*, *::before, *::after, *:not(path):not(g) { transition: all 0.2s; }

h1, h2, h3, h4, h5, h6, p, a, li, input[type="text"], textarea
{
	width: fit-content;
	height: fit-content;
	white-space: pre-wrap;
	text-wrap: pretty;
	overflow-wrap: break-word;
	color: var(--main-fg-color);
	user-select: text;
	pointer-events: all;
}

ul
{
	list-style-type: "− ";
	list-style-position: inside;
}

svg { fill: var(--main-fg-color); }

h1, h2, h3, h4, h5, h6 { font-weight: 700; }

h1 { font-size: calc(var(--h1-font-size)); }
h2 { font-size: calc(var(--h2-font-size)); }
h3 { font-size: calc(var(--h3-font-size)); }
h4 { font-size: calc(var(--h4-font-size)); }
h5 { font-size: calc(var(--h5-font-size)); }
h6 { font-size: calc(var(--h6-font-size)); }

html
{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

body
{
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, color-mix(in srgb, var(--dark), white 3%), var(--dark));

	&::before
	{
		content: "";
		pointer-events: none;
		opacity: 0.04;
		z-index: 9999;
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='subtleNoiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23subtleNoiseFilter)'/%3E%3C/svg%3E");
		background-repeat: repeat;
		background-size: 256px 256px;
		position: fixed;
		inset: 0;
	}
}

#root
{
	width: 100%;
	height: 100%;
}

a
{
	color: var(--accent);
	text-decoration: none;
	pointer-events: all;
	cursor: pointer;

	&:hover { color: var(--white-90); }
	&:active { color: color-mix(in srgb, var(--accent) 50%, white 50%); }
}

.mainContainer
{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
}

.maskedVerticalScrollContainer
{
	--smoothAreaHeight: 16px;

	padding-top: var(--smoothAreaHeight);
	padding-bottom: var(--smoothAreaHeight);
	margin: calc(var(--smoothAreaHeight) * -1) 0 calc(var(--smoothAreaHeight) * -0.5);
	overflow: hidden auto;
	mask-image: linear-gradient(to bottom, transparent, white var(--smoothAreaHeight), white calc(100% - var(--smoothAreaHeight)), transparent);
}